@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
	--teal: rgba(14, 198, 208, 0.4);
	--text-color: #41d6b3;
	--dark-color-a: #2e3047;
	--dark-color-b: #707793;
	--light-color: #e6e9ff;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

/* h1 {
	font-size: 50px;
} */

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width:70%; 
	background: #fff;
	margin: 100px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header h1 {
	font-size: 2em;
}

.chat-main {
	display: grid;
	grid-template-columns: 3fr 1fr;

	resize:vertical;
    overflow:auto;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
}

.chat-sidebar h2 {
	text-align: center;
	font-size: 16px;
	background: var(--teal);
	padding: 5px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 10px;
	color: var(--text-color);
}

.chat-sidebar ul li {
	padding-bottom: 10px;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: auto;
	display: flex;
	flex-direction: column
}

.chat-sent {
	align-self: flex-end;
	background-color: var(--light-color) !important;
}


.chat-messages .message {
	width: 70%;
	padding: 10px;
	margin-bottom: 15px;
	/* background-color: var(--light-color); */
	background-color: rgba(0, 138, 145, 0.4);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: black;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: rgb(49, 49, 49);
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

#login {
	padding: 10px;
	border-radius: 5px;
	color: white;
	background-color: var(--teal);
}

#login:hover {
	background-color: rgba(3, 104, 109, 0.4);
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}